<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FitkitAPIBaseURL</key>
	<string>$(FITKIT_API_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader-SemiBold.ttf</string>
		<string>Newsreader-Bold.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
